.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(49, 49, 49, 0.568) 000;
  z-index: 999999;
}

.card {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin: 20% auto;
  text-align: center;
}

.button {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--primaryColor);
  color: white;
}
