@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primaryColor: #0096ea;
  --secondaryColor: #e9e9e9;
  --textColor: #151414;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--textColor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 14px;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
