@import url("../styles/variables.css");

.header {
  position: absolute;
  left: 0;
  height: 70vh;
  width: 100vw;
  background-image: url("../../public/heroImage.jpg");
  background-size: cover;
  background-position: bottom;
}

.heroText {
  max-width: 550px;
  padding: 150px 80px;
}

.heroParagraph {
  font-size: 18px;
  line-height: 26px;
}

.actionButton {
  background-color: var(--primaryColor);
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  padding: 16px 8px;
  border-radius: 2px;
  font-weight: 700;
}
