.heroImage {
  height: 70vh;
  min-height: 500px;
}

.image {
  position: absolute;
  top: 60px;
  left: 0;
  height: 70vh;
  min-height: 500px;
  width: 100vw;
  background-image: url("../../../public/heroImage.jpg");
  background-size: cover;
  background-position: bottom;
}

.heroTextSmall {
  display: none;
}

.heroText {
  display: flex;
  gap: 40px;
  height: 300px;
}

.register {
  flex: 1;
}

.heroParagraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  line-height: 154.9%;
  letter-spacing: 0.8px;
}

.brand {
  font-weight: 500;
}

.heroTextSmall {
  display: none;
  position: absolute;
  top: 180px;
  left: 80px;
  line-height: 154.9%;
  letter-spacing: 0.8px;
  width: 400px;
}
.heroTextSmallParagraph {
  font-size: 16px;
  font-weight: 500;
}
.registerButton {
  display: block;
  margin-top: 20px;
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 2px;
  background: var(--primaryColor);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 1280px) {
  .heroText {
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .register {
    display: none;
  }
  .heroText {
    height: 300px;
  }
  .heroTextSmall {
    display: block;
    left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
