@import url("../../styles/variables.css");

.container {
  position: relative;
  text-align: center;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background-color: #343434;
}

.footerBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 40px 0;
  font-size: 14px;
  /* width: 600px; */
  margin: 0 auto;
  color: white;
}

.links {
  display: flex;
  gap: 10px;
}

/* .link {
  color: white;
} */

.link:hover {
  color: var(--primaryColor);
}

.contactFormLink {
  font-weight: 500;
}

.brand {
  font-weight: 500;
}

/* @media screen and (min-width: 1024px) {
  .footerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 40px 0;
  }
} */
