.container {
  padding: 80px 0;
  text-align: center;
}

.cardTitle {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.cardBody {
  padding: 0 250px;
  line-height: 154.9%;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 1280px) {
  .cardBody {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
