.container {
  padding: 80px;
  text-align: center;
}

.cardTitle {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.cardBody {
  padding: 0 250px;
  line-height: 154.9%;
  letter-spacing: 0.8px;
}
